@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Hanken+Grotesk:wght@500;700;800&family=Lexend+Deca&display=swap");
:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
  --card-width: 250px;
  --card-padding: 30px 30px;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  border-radius: 5px;
  overflow: hidden;
}
img {
  margin-top: 20px;
  margin-bottom: 15px;
}
.col {
  width: var(--card-width);
  padding: var(--card-padding);
}

.col > h1 {
  font-size: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: var(--transparent-white);
  font-family: "Big Shoulders Display", sans-serif;
}
.col > p {
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 15px;
  font-family: "Lexend Deca", sans-serif;
  color: var(--transparent-white);
}
.col > button {
  font-size: 11px;
  margin-top: 47px;

  width: 110px;
  height: 35px;
  border-radius: 20px;
  border-style: none;
  font-family: "Lexend Deca", sans-serif;

  color: var(--bright-orange);
  cursor: pointer;
}

.col > button:hover {
  color: var(--transparent-white);
  background-color: transparent;
  border: 1px solid var(--transparent-white);
}

.col1 {
  background-color: var(--bright-orange);
}

.col2 {
  background-color: var(--dark-cyan);
}

.col3 {
  background-color: var(--very-dark-cyan);
}

@media screen and (max-width: 600px) {
  :root {
    --card-padding: 10px 20px;
    --card-width: 100%;
  }
  body {
    padding: 20px;
  }
  .container {
    display: block;
    margin-top: 32px;
    margin-bottom: 15px;
  }

  .col1 > button {
    margin-top: 2px;
    margin-bottom: 5px;
  }
  .col2 > button {
    margin-top: 2px;
    margin-bottom: 5px;
  }
  .col3 > button {
    margin-top: 2px;
    margin-bottom: 5px;
  }
}
